<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.biosignalml.sleep</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python</string>
		<string>tornadoserver.py</string>
		<string>--config=production.ini</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
	<string></string>
	<key>UserName</key>
	<string>root</string>
	<key>WorkingDirectory</key>
	<string>/Users/dave/biosignalml-server</string>
</dict>
</plist>
