#attr $yscale          = 2.1  ## em per row
#attr $form_yscale     = 1.5
#attr $extra_form_line = 1
#attr $col_offset      = 1    ## Subtract from 'col'
#attr $width_scale     = 0.7
##
##
#def fixed($row, $col, $cls='')
##=============================
#if $cls or $row##slurp
#set $classes = [ ]
#if $row
#silent $classes.append('fixed')
#end if
#if $cls
#silent $classes.append($cls)
#end if
 class="${' '.join($classes)}"#slurp
#end if##slurp
#if $row# style="top:${$yscale*(row-1)}em;#slurp
 #if $col#left:${col-$col_offset}em;#end if#"#slurp
#end if##slurp
#end def
##
##
#def boxsize($rows, $cols)
##========================
#if $rows or $cols##slurp
 style="#slurp
#if $cols#width:${cols}em;#end if##slurp
#if $rows#height:${$form_yscale*($rows+$extra_form_line)}em;#end if##slurp
"#slurp              
#end if##slurp
#end def
##
##
#def prompt($text='', $row=0, $col=0)
##===================================
#if $text##slurp
 <span$fixed($row, $col, 'prompt')>#slurp
$text#if $text[-1] == '?'#:#end if#</span>#end if
#end def
##
##
#def help($text='', $row=0, $col=0)
##=================================
#if $text##slurp
 <span$fixed($row, $col)>$text</span>#slurp
#end if
#end def
##
##
#def button($btn, $row=0, $col=0)
##===============================
 <span$fixed($row, $col)><input class="button" type="submit" name="action" value="$btn"/></span>
#end def
##
##
#def textarea($id, $rows, $cols, $text)
##=====================================
 <span class="fixed">
  <textarea id="$id" name="$id" rows="$rows" cols="$cols" onchange="changed(this)">$text</textarea>
 </span>
#end def
##
##
#def input($id, $row, $col, $length, $data='', $password=False)
##=============================================================
 <span$fixed($row, $col)>
  <input value="$data" maxlength="$length" style="width:${$width_scale*$length}em" name="$id" id="$id"#slurp
 #if $password#type="password"#end if##slurp 
 onfocus="this.select()" onchange="changed(this)"#slurp
 >
 </span>
#end def
##
##
#def userinput($prompttext, $promptpos, $id, $fieldpos, $length, $data='', $password=False)
##========================================================================================
$prompt($prompttext, $promptpos[0], $promptpos[1])
$input($id, $fieldpos[0], $fieldpos[1], $length, $data, $password)
#end def
##
##
#def form($action, $rows, $cols, $buttons, $fields)
##=================================================
<div $boxsize($rows, $cols) class="formbox">
 <div class="form">
  <form autocomplete="off" id="form" action="$action" method="post">
   #for b in $buttons#$button($b.prompt, $b.row, $b.col)#end for
   #for f in $fields#$userinput($f.prompt, $f.promptpos,
                                $f.id, $f.fieldpos, $f.length,
                                $f.data, $f.type=='password')#end for
  </form>
 </div>
</div>
#end def
