#def page($title       = '',
          $content     = '',
          $stylesheets = [ ],
          $scripts     = [ ],
          $refresh     = 0,
          $alert       = '',
          $message     = '',
          $keypress    = None,
          $session     = { },
          )
#set $headtitle = 'BioSignalML Repository'
#from frontend.menu import MAINMENU
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
##
##
#*
A menu is defined by a list of tuples, each tuple being (prompt, action)

 [ ('Browse Repository', 'repository'),
   ('Sub Menu',          '',       [ ( 'First', 'first'), ('Second', 'second') ] ),
   ('Sub Menu Action',   'action', [ ( 'First', 'first'), ('Second', 'second') ] ),
 ]
*#
##
##
#def sub_menu($submenu)
#######################
 <ul class="sub_menu">
  #for $m in $submenu
   $menu_entry($m) #slurp
  #end for
 </ul>
#end def
##
##
#def menu_entry($m)
###################
 <li>
 #if $m[1]
  <a href="/$m[1]" title="$m[0]" onClick="return oktoexit(this)">$m[0]</a>
 #elif $m[0]
  <span class="menu">$m[0]</span>
 #end if
 #if len($m) > 2# $sub_menu($m[2]) #end if
 </li>
#end def
##
##
#def menubar($menu)
###################
 <ul class="jd_menu">
  #for $m in $menu
   $menu_entry($m) #slurp
  #end for
 </ul>
#end def
##
##
#set $javascript = [ "validation.js",
                     "jquery.js",
                     "jquery-ui-1.8.9.min.js",
                     "jquery-ui-datetimepicker.js",
 	                   "jquery.jstree.js",
 	                   "jquery.jdMenu.js",
 	                   "jquery.positionBy.js",
                     "jquery.hoverIntent.js",
                     "jquery.cluetip.js",
                     "jquery.json-2.3.js",
                     "comet.js",
                     "repository.js",
                   ]
##                   "json2.js",
##                   "jquery-1.5.min.js",
#silent $javascript.extend($scripts)
##
 <head>
  <title>$headtitle</title>
  #if $refresh#<meta http-equiv='Refresh' content='$refresh'/>#end if
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  #for $script in $javascript
   <script type="text/javascript" src="/static/script/$script"></script>
  #end for
  <link type="text/css" href="/static/css/stylesheet.css" rel="stylesheet"/>
  #for $css in $stylesheets
   <link type="text/css" href="/static/css/$css" rel="stylesheet"/>
  #end for
 </head>
 <body
## #if $alert# onload='alert("$alert")' #end if
   #if $keypress# onkeydown=$keypress(event) #end if
   >
  <noscript>These pages use Javascript - please enable it in your browser</noscript>
  #if $alert#<div id="alert">$alert</div>#end if
  <div id="header">
   <div class="spacer"></div>
   <div id="menubar">$menubar($MAINMENU($session))</div>
  </div>
  #if $message#<div id="message">$message</div>#end if
  <div id="content">
   <div class="title">
    <h1>$title</h1>
   </div>
   <div id="contentbody">
    $content
   </div>
  </div>
## #if $alert#<div id="alert">$alert</div>#end if
  <div id="footer">
  </div>
 </body>
</html>
#end def
