{% extends 'tpage.html' %}

{% block content %}
 <div id="spinner"></div>
 <div class="formbox">
  <div class="form">
   <form method="post" id="searchform" autocomplete="off">
    {% raw xsrf_form_html() %}
    <div class="search">
     <div class="line">
      <div class="col1">
       <span class="title">Search...</span>
      </div>
      <div class="col2"></div>
      <div class="col3"><button class='del'>-</button></div>
      <div class="clear">&nbsp;</div>
     </div>
    </div>
    <button class='add'>+</button>
    <div id="searchbtn">
     <input class="button" type="submit" name="action" value="Search"/>
    </div>
   </form>
  </div>
 </div>
{# <div id="resultshead">Results:</div> #}
 <div id="searchresults">  {# Content added by Javascript #}
 </div>
 <script type="text/javascript" src="{{ static_url("script/searchform.js") }}"></script>
 <link type="text/css" href="{{ static_url("css/searchform.css") }}" rel="stylesheet"/>
{% end %}