#def search($title, $action)
##==========================
 <div id="spinner"></div>
 <div class="formbox">
  <div class="form">
   <form method="post" action="$action" id="searchform" autocomplete="off">
    <div class="search">
     <div class="line">
      <div class="col1">
       <span class="title">$title</span>
      </div>
      <div class="col2"></div>
      <div class="col3"><button class='del'>-</button></div>
      <div class="clear">&nbsp;</div>
     </div>
    </div>
    <button class='add'>+</button>
    <span class="right">
     <input class="button" type="submit" name="action" value="Search"/>
    </span>
   </form>
  </div>
 </div>
 <div id="searchresults">
 </div>
 <script type="text/javascript" src="/static/script/searchform.js"></script>
 <link type="text/css" href="/static/css/searchform.css" rel="stylesheet"/>
#end def  
